{%extends 'base.html'%}
{% load static %}
{% block content %}
{{block.super}}

<h1 class="text-center">WELCOME HOME</h1>


<!-- upload new photo-->
<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-7">
            <div class="showpost">
                <div class="card" style="width: 100%; height: 100%;">
                    <div class="img">
                        {% load static %}
                        <img class="card-img-top" src="{% static "img/6.jpg" %}" alt="my photo"></div>
                    <div class="card-block">
                        <h4 class="card-title">Card caption</h4>
                        <p class="card-text">Some fast sample message to build on the card title as well as compose the
                            bulk
                            of the card's material.</p>
                        <hr>
                        <a href="#" class="btn">Add Comment</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="showprofile">
                <div class="row">
                    <div class="col-md-4">
                        <div class="img">
                            {% load static %}
                            <img class="card-img-top" src="{% static "img/6.jpg" %}" alt="my photo"></div>
                    </div>
                    <div class="col-md-8">
                        <h5 style="font-weight: bold;">My username</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {%endblock%}