.showpost{
    /* border: 1px solid gainsboro; */
    box-shadow: 0vh 0vh 1vh gainsboro;
    border-radius:2%;
    box-sizing: border-box;
    padding:1%;
}

.img {
    max-width: 80%;
    height: 80%;
    margin: 0 auto;
}

.img img {
    border-radius: 2%;
    max-width: 100%;
    height: auto;
}
.showprofile .img {
    width:  100px;
    height: 100px;
}


.showprofile img {
    width: 100%;
    height:100%;
    border-radius: 50%;
}

.view-profile #bio{
    font-weight: 700;
    font-style: italic;
}
@media screen and (max-width:1000px) {
    .showprofile{
        display:none;
    }
}
